{% extends "foosball/base1.html" %}

{% block navbar %}
{% load static %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent " color-on-scroll="400">
    <div class="container">
        <div class="navbar-translate">

            <div class="navbar-brand">
                <div class="logo">
                <img src="{% static 'foosball/img/apple-icon.png' %}" width="50" height="50" class="img-raised" >
                        Foosball Online
                </div>
            </div> 
            
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar bar1"></span>
            <span class="navbar-toggler-bar bar2"></span>
            <span class="navbar-toggler-bar bar3"></span>
        </button>


        </div>

        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="">Welcome</a>
                </li>
                <li class="nav-item" data-toggle="modal" data-target="#myModal">
                        <a class="nav-link" href="#myModal">help</a>
                </li>
            </ul>
        </div>
    </div>
</nav>    
<!-- End Navbar -->
{% endblock%}

{% block mainbody %}
<div class="login-page sidebar-collapse">
    <div class="page-header" >
        <div class="page-header-image" style="background-image:url({% static 'foosball/img/bg18.jpg' %})"></div>
        <div class="container">
            <div class="col-md-4 content-center">
                <div class="card card-login card-plain">
                    <form class="form" method="POST" action="{% url 'login' %}">
                        <div class="header header-primary text-center">
                            <div class="logo-container">
<!--                                 <img src="{% static 'foosball/img/apple-icon.png' %}" height="100" ="" alt="">
 -->                            </div>
                        </div>
                        <div class="content">
                            {% if form.errors %}
                            <div class="col-sm-12">
                            <div class="alert alert-danger" role="alert" style="padding: 5px;">
                                <div class="container">
                                    <small>Incorrect user name and password.</small>
                                </div>
                            </div>
                            </div>
                            {% endif %}
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                            <i class="fa fa-user-circle"></i>
                                    </span>
                                <input type="text" class="form-control" placeholder="Username" name="{{ form.username.name }}">
                                </div>
                            </div>                            
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                            <i class="fa fa-user-circle"></i>
                                    </span>
                                <input type="password" class="form-control" placeholder="Password" name="{{ form.password.name }}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 content-center">
                        <button class="btn btn-primary btn-lg" action="submit">Sign in</button>
                        <input type="hidden" name="next" value="{{ next }}" />
                        </div>
                        <div class="col-md-5 content-center">
                        {% csrf_token %}
                        </form>
                        <form action="{% url 'register' %}" method="get">
                            <button class="btn btn-primary btn-lg" action="submit">Sign up</button>
                        {% csrf_token %}
                        </form>
                        </div>
                        </div>
                    <!-- </form> -->
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}