
<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent " color-on-scroll="400">
    <div class="container">
        <div class="navbar-translate">

            <div class="navbar-brand">
                <div class="logo">
                <img src="https://s3.amazonaws.com/creativetim_bucket/new_logo.png" width="60" height="60" class="img-raised" >
                        Foosball Online
                </div>
            </div> 
            
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar bar1"></span>
            <span class="navbar-toggler-bar bar2"></span>
            <span class="navbar-toggler-bar bar3"></span>
        </button>


        </div>

        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#pablo">Account</a>
                </li>
                <li class="nav-item" data-toggle="modal" data-target="#myModal">
                        <a class="nav-link" href="#myModal">help</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#pablo">Log Out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>    
<!-- End Navbar -->